<div class="component-container">
  <ng-container *ngIf="user">
    <h3 class="section-title">
      <span class="back pointer" routerLink="../">‹</span> {{ user.name }}
    </h3>
    <div class="container mx-0 row pt-5">
      <div class="col-4">
        <ul [formGroup]="userForm">
          <li class="py-3">
            <div class="avatar">
              <img class="img-fluid" [src]="user.avatar" alt="" />
            </div>
          </li>
          <li class="mb-3">
            <button class="btn btn-outline-warning btn-sm">Edit Image</button>
          </li>
          <li>
            Name
            <input type="text" formControlName="name" />
          </li>
          <li>
            Country
            <input type="text" formControlName="country" />
          </li>
          <li>
            Age
            <input type="text" formControlName="birthday" />
          </li>
        </ul>
      </div>
      <div class="col-8">
        <table class="table table-hover table-dark mb-0 table-bordered">
          <thead>
            <tr>
              <th scope="col">App Icon</th>
              <th scope="col">App Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody [@listAnimation]="user.apps.length">
            <tr *ngIf="user.apps.length < 10">
              <td></td>
              <td></td>
              <td>
                <button (click)="openAppForm = true; editMode = false">
                  <img src="assets/svg/add.svg" alt="" />
                </button>
              </td>
            </tr>
            <tr *ngFor="let app of user.apps; trackBy: trackById">
              <td>
                <div class="avatar">
                  <img
                    class="img-fluid"
                    [src]="'http://localhost:4001/'+app.avatar"
                    alt=""
                  />
                </div>
              </td>
              <td>{{ app.name }}</td>
              <td>
                <button (click)="enableEditApp(app._id, app.name)">
                  <img src="assets/svg/edit.svg" alt="" />
                </button>
                <button (click)="deleteApp(app._id)">
                  <img src="assets/svg/delete.svg" alt="" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <form *ngIf="openAppForm">
          <div class="">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter app name"
              #appName
              autofocus
              (change)="DEFAULT_DROPZONE_CONFIG.params = { app: appName.value }"
            />
          </div>

          <dropzone
            [config]="DEFAULT_DROPZONE_CONFIG"
            [message]="'click to upload'"
            #drpzone="ngxDropzone"
            (success)="editMode ? editSuccess() : addSuccess()"
          ></dropzone>

          <button
            type="button"
            class="btn btn-primary"
            (click)="editMode ? editApp() : addApp()"
          >
            {{ editMode ? "Edit" : "Add" }}
          </button>
        </form>
      </div>
    </div>
  </ng-container>
</div>
<div class="d-flex justify-content-end mt-4 px-2 actoins">
  <button (click)="deleteUser()" class="btn btn-outline-light" type="button">
    Remove User
  </button>
  <button
    class="btn btn-outline-light"
    type="button"
    (click)="!editUser ? startEditUser() : editUserData()"
  >
    {{ editUser ? "Save Edits" : "Edit User" }}
  </button>
</div>
